<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Bienestar Corporativo</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon" />
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <link
      href="../assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="../assets/css/main.css" rel="stylesheet" />
    <link href="../assets/css/styles.css" rel="stylesheet" />
    <style>
      body {
        background-image: url("../assets/img/et.png")!important;
        background-size: cover;
      }
      .custom-list-row {
        margin-bottom: 10px;
      }
      .custom-list-icon {
        margin-right: 10px;
      }
      .custom-title {
        margin-bottom: 20px;
        color: #0056b3;
      }
      .custom-section {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>

  <body class="page-index">
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="../index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="../assets/img/logo.png" alt=""> -->
          <h1 class="d-flex align-items-center">Bienestar Corporativo</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="../index.html" class="active">Inicio</a></li>
            <li><a href="./et.html">Ética Corporativa</a></li>
            <li><a href="./encuestas.php">Encuestas</a></li>
            <li><a href="./iniciarsesion.php">Iniciar Sesion</a></li>
            <li><a href="./cerrar_sesion.php">Cerrar Sesion</a></li>
          </ul>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="et" class="hero d-flex align-items-center">
      <div class="container py-4">
        <div class="row">
          <div class="col-md-6">
            <div class="custom-section">
              <h4 class="custom-title">
                ¿Qué Involucra el Bienestar Laboral a Nivel Ético?
              </h4>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/check.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>
                    Promover una cultura de transparencia en todas las
                    operaciones y decisiones
                  </p>
                </div>
              </div>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/check.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>
                    Fomentar la diversidad e inclusión en el lugar de trabajo,
                    respetando y valorando las diferencias individuales
                  </p>
                </div>
              </div>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/check.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>
                    Adoptar prácticas sostenibles para minimizar nuestro impacto
                    en el medio ambiente
                  </p>
                </div>
              </div>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/check.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>
                    Mantener las relaciones comerciales basadas en la
                    honestidad, la integridad y el respeto mutuo.
                  </p>
                </div>
              </div>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/check.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>
                    Brindar oportunidades de desarrollo y crecimiento para los
                    empleados, promoviendo su bienestar integral.
                  </p>
                </div>
              </div>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/check.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>
                    Contribuir activamente a mejorar las comunidades en las que
                    operamos, a través de programas y acciones solidarias,
                    otorgando apoyo profesional si es que es necesario.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="custom-section">
              <h4 class="custom-title">
                Desventajas del Inadecuado Bienestar Corporativo
              </h4>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/X.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>Impacto Negativo psicológico</p>
                </div>
              </div>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/X.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>Disminución del foco y la energía</p>
                </div>
              </div>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/X.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>Desconfianza entre trabajadores</p>
                </div>
              </div>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/X.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>Deterioro del Bienestar Laboral en las empresas</p>
                </div>
              </div>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/X.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>
                    Carencia de transmición de valores positivos en trabajadores
                  </p>
                </div>
              </div>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/X.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>Bajo rendimiento laboral</p>
                </div>
              </div>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/X.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>Agotamiento Físico</p>
                </div>
              </div>
              <div class="custom-list-row row align-items-center">
                <div class="col-md-1 custom-list-icon">
                  <img src="../assets/img/X.png" alt="" width="30" />
                </div>
                <div class="col-md-11">
                  <p>Desinterés Laboral</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero Section -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="footer-content">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="index.html" class="logo d-flex align-items-center">
                <span>Nova</span>
              </a>
              <p>
                Cras fermentum odio eu feugiat lide par naso tierra. Justo eget
                nada terra videa magna derita valies darta donna mare fermentum
                iaculis eu non diam phasellus.
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bi bi-dash"></i> <a href="#">Home</a></li>
                <li><i class="bi bi-dash"></i> <a href="#">About us</a></li>
                <li><i class="bi bi-dash"></i> <a href="#">Services</a></li>
                <li>
                  <i class="bi bi-dash"></i> <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bi bi-dash"></i> <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bi bi-dash"></i> <a href="#">Web Design</a></li>
                <li>
                  <i class="bi bi-dash"></i> <a href="#">Web Development</a>
                </li>
                <li>
                  <i class="bi bi-dash"></i> <a href="#">Product Management</a>
                </li>
                <li><i class="bi bi-dash"></i> <a href="#">Marketing</a></li>
                <li>
                  <i class="bi bi-dash"></i> <a href="#">Graphic Design</a>
                </li>
              </ul>
            </div>

            <div
              class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
            >
              <h4>Contact Us</h4>
              <p>
                A108 Adam Street <br />
                New York, NY 535022<br />
                United States <br /><br />
                <strong>Phone:</strong> +1 5589 55488 55<br />
                <strong>Email:</strong> info@example.com<br />
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-legal">
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>Nova</span></strong
            >. All Rights Reserved
          </div>
          <div class="credits">Designed by <a href="">MartiPlanella</a></div>
        </div>
      </div>
    </footer>
    <!-- End Footer --><!-- End Footer -->

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
  </body>
</html>
